body {
  background-color: #eff9ed;
  padding-top: 85px;
}

.main-content {
  padding-top: 15px;
}

.card-img-top {
    margin: 5em 0;
    height: 80px;
}

.card-body {
    padding: 1.5em 1.5em 1em 1.5em
}

.btn-group {
    margin: 0 0 1em 1em
}
